.tier-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .big-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
  
  .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .item {
    background-color: #ffffff;
    padding: 1px;
    margin-bottom: 1px;
    
  }