body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url('src/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

button#save-button,
button#load-button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.tier-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.big-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

h2 {
  text-align: center;
  font-size: 28px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.item {
  background-color: #ffffff;
  padding: 1px;
  margin-bottom: 1px;
}
